body {
	background-image: url("../img/seattle.jpg");
	background-size: 100%;
	color: white;
}

#titleWelcome {
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 0.25em;
	font-style: 'Arial';
	text-align: center;
}

#create {
	color: black;
	margin-top: 1em;
}

#content {
	color: #292929;
}

#welcome {
	background-color: rgba(211, 211, 211, .75);
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5em;
	padding: 2em;

}

#welcome h2 {
	text-align: center;
}

#welcome #choice {
	color: #00619c;
}

.container {
	padding: 0;
}

.form-control {
	width: 30%;
}