@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons.otf');
    font-weight: normal;
    font-style: normal;
}

/* ======Front Page====== */

body {
	background-image: url("../img/seattle.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #d3d3d3;
}

body #decisionArea {
	margin-top: 3em;
	margin-bottom: 3em;
}

body #map-canvas {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	width: 90%;
	height: 400px;
}

body #titleWelcome {
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 0.15em;
	font-style: 'Arial';
	text-align: center;
	color: white;
}

body #welcome {
	background-color: rgba(47, 47, 47, .75);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	position: relative;

}

body #welcome h2 {
	text-align: center;
}

button {
	color: black;
}

img {
	margin-bottom: 1em;
}

/* ======Individual Page CSS====== */
#create {
	margin-top: 1em;
}

#profile {
	margin-top : 2em;
}

#startPage {
	margin-top: 2em;
	margin-bottom: 2em;
}

#startPage #findMe {
	margin-right: 5em;
}

/* ======Shared Classes====== */

.back {
	margin-right: 2em;
}

.container {
	padding: 0;
}

.form-control {
	width: 30%;
}

.logout, .back {
	float: right;
	color: black;
}

.numWalks, .rating {
	display: inline-block;
	font-size: 1em;
	text-align: left;
	padding: 5px;
}

.profilePic {
	min-width: 30%;
}

.user .userInfo, .previousRating {
	display: inline;
	font-size: 1.5em;
	padding: .5em;
}

.username {
	text-align: left;
	font-size: 2em;
}

/* ======Weather App CSS====== */
.weather {
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans";
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  color: #00B2EE;
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;

}

.weather .currently {
  margin: 0 20px;
}