/* ======Front Page====== */

body {
	background-image: url("../img/seattle.jpg");
	background-size: cover;
	color: #d3d3d3;
}

body #decisionArea {
	margin-top: 3em;
	margin-bottom: 3em;
}

body #map-canvas {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	width: 90%;
	height: 400px;
}

body #titleWelcome {
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 0.15em;
	font-style: 'Arial';
	text-align: center;
	color: white;
}

body #welcome {
	background-color: rgba(47, 47, 47, .75);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	position: relative;

}

body #welcome h2 {
	text-align: center;
}

button {
	color: black;
}

/* ======Individual Page CSS====== */
#create {
	margin-top: 1em;
}

#profile {
	margin-top : 2em;
}

#startPage {
	margin-top: 2em;
	margin-bottom: 2em;
}

#startPage #findMe {
	margin-right: 5em;
}

/* ======Shared Classes====== */

.back {
	margin-right: 2em;
}

.container {
	padding: 0;
}

.form-control {
	width: 30%;
}

.logout, .back {
	float: right;
	color: black;
}

.numWalks, .rating {
	display: inline-block;
	font-size: 1em;
	text-align: left;
	padding: 5px;
}

.profilePic {
	min-width: 30%;
}

.user .userInfo, .previousRating {
	display: inline;
	font-size: 1.5em;
	padding: .5em;
}

.username {
	text-align: left;
	font-size: 2em;
}