<div class="container">
	<button id= "logout" ng-click = "logOut()" type="submit" >Logout</button>
	<span>
		<button class="btn btn-default" ui-sref="back">Back
		</button>

		<button class="btn btn-default" ui-sref="block">Block
		</button>
	</span>


	<h3 id="username">User name</h3>
	<img id="profilePic" class="img-responsive img-rounded" src="../img/testProfile.jpeg">

	<div id="numWalks">Number of Walks: 10</div>
	<div id="rating">Average Rating: 5</div>

	<br></br>
	<button class="btn btn-default" ui-sref="approve">Approve
	</button>
	<button class="btn btn-default" ui-sref="deny">Deny
	</button>
</div>