<h1>Create an account with us</h1>
<!-- This creates a form for the user to create a new account -->
<form id ="newAccount" name="myForm">
	<div class="form-group">
		<label for="newName"> Create a Username: </label>
		<input id="newName" name = "newName" ng-model="newName" ng-minlength="6" type ="string" class="form-control"></input>

		<label for="email"> Enter an email address: </label>
		<input id="newEmail" name = "newEmail" ng-model="newEmail" type ="email" class="form-control"></input>
			
		<label for="newPass"> Create a Password</label>
		<input id="newPass" name = "newPass" type = "password" ng-model="newPass" class="form-control"></input>
		
		<!-- This button will sign in, and redirect to spot.html -->
		<div class="form-group">
			<button id = "create" ng-click="signUp()" ng-disabled="myForm.$invalid" type="submit" ui-sref="profile" >Create Account</button> 
		</div>
		<!-- This will appear id the username is too short -->
		<span id = "help" class="help-block" ng-show="myForm.newName.$error.minlength">Username is too short</span>
	</div>
</form>