<div id="homePage">
	<h2>Need a get away from the rain?</h2>
	<br />
	<h4> <span style="color: yellow">Walk with us</span> to stay dry in the <span style="color: #00B2EE">rain</span>, make a <span style="color: #00B2EE">friend</span>, get home <span style="color: #00B2EE">safe</span>, or just to have a great <span style="color: #00B2EE">conversation</span>.</h4>
	<p> Walk With Me was created to provide an umbrella sharing service to UW students who are in need of cover from the rain or looking to share their umbrella with fellow students. Users can login to share their umbrella or find to find an umbrella that is being shared.  On days without rain, the service will be offered as a simple walk/jog meetup application. The purpose of this site is to not only create a fun opportunity to socialize and meet new people, but to also encourage a more engaging and inclusive campus environment. 
	</p>

	<!-- Sign in / Create New Account -->
	<div id="decisionArea">
		<h4 id="choice">Take your Pick : </h4>
		<a class="btn btn-default" ui-sref="signIn" >Sign In</a>
		<a class="btn btn-default" ui-sref="create" >Create Account</a>
	</div>

	<!-- Displays weather information for location -->
	<div class="weather"> 
	</div>
</div>
		