<!-- Page for posting a walk. -->
<div id="newWalk">
	<div class="container">
		<div class="row">
			<!--  Profile Info -->
			<div class="col-xs-12 col-md-4">
				<!-- Displays username and profile image of user -->
				<h3 class="username">{{users[userID].first + " " + users[userID].last}}</h3>
				<img class="profilePic" class="img-responsive img-rounded" src="../img/umbrella.jpg">
			</div>

			<!-- Post Walk Information -->
			<div class="col-xs-12 col-md-4">
				<form novalidate name="desForm">
					<h3>Add a new search to the map.</h3>
					<div class="form-group">
						<!-- Input start location -->
						<label for="startLocation">Start Location (include the city)</label>
						<input type="text" class="form-control" id="startLocation" name="startLocation" placeholder="Where will you be?" ng-model="query.startStr">
						<!-- Displays an error if start location isn't filled out -->
						<div ng-show="desForm.$submitted || desForm.startLocation.$touched">
							<p ng-show="desForm.startLocation.$error.required" class="error-message">Start Location is required.</p>
						</div>

					</div>

					<div class="form-group">
						<!-- Input destination -->
						<label for="destination">Destination (include the city)</label>
						<input type="text" class="form-control" id="destination" name="destination" placeholder="Where are you going?" ng-model="query.destStr">
						<!-- Displays an error if destination isn't filled out -->
						<div ng-show="desForm.$submitted || desForm.destination.$touched">
							<p ng-show="desForm.destination.$error.required" class="error-message">Destination is required.</p>
						</div>

					</div>

					<!-- click calls addMarker() to draw marker on map -->
					<button ng-click="addMarker()" type="submit" class="btn btn-default">Submit</button>
				</form>	
			</div>

			<div class="col-xs-12 col-md-4">
				<!-- buttons to log out or go back -->
				<button class="logout btn btn-default" ng-click="logOut()" type="submit" ui-sref="home">Logout</button>
				<button class="back btn btn-default" ng-click="loadWeather()" type="submit" ui-sref="start">Back</button>
			</div>

		</div>
	</div>
</div>