<div id="profile">	
	<div class="form-group">
		<label for="firstName"> What's your first name? </label>
		<input id="firstName" name = "firstName" ng-model="firstName" ng-minlength="1" type ="string" class="form-control"></input>

		<label for="lastName"> What's your last name? </label>
		<input id="lastName" name = "lastName" ng-model="lastName" ng-minlength="1" type ="string" class="form-control"></input>
			
		<label for="phone">What's your phone number?</label>
		<input id="phone" name = "phone" type = "phone" ng-model="phone" class="form-control"></input>
		
		<!-- UW NetID/Password can be added in later if desired -->
		<div class="form-group">
			<button id = "create" ng-click="setProfile()" ng-disabled="myForm.$invalid" type="submit" ui-sref="profile" >Create Profile</button> 
		</div>
		<!-- This will appear if the n is too short -->
		<span id = "help" class="help-block" ng-show="myForm.newName.$error.minlength">Input too short!</span>
	</div>
</div>