<h1>Sign in to walk</h1>
<br />

   		<form novalidate id = "sign in">
			<div class="form-group">
				<label for = "user" >Email: </label>
		    	<input id = "user" name = "user" ng-model = "user" type="text" class="form-control" placeholder="Username">
		    	<label for = "pass">Password: </label>
		    	<input id = "pass" name = "pass" ng-model = "pass" type="password" class="form-control" placeholder="Password">
		  	</div>
		 	<button id = "signIn" ng-click = "signIn()" type="submit" class="btn btn-default">Sign in</button>
		</form>	