<!-- Profile Page, allows user to post their walk or search for one. -->

<div id="startPage" ng-show = "userID">
	<div class="container">
		<div class="row">
			<!--  Profile Info -->
			<div class="col-xs-12 col-md-4">
				<h3 class="username">{{users[userID].firstName + " " + users[userID].lastName}}</h3>
				<img class="profilePic" class="img-responsive img-rounded" src="../img/testProfile.jpeg">
			</div>
			
			<!--Previous Walks --> 
			<div class="weather col-xs-12 col-md-4">
			</div>

			<!--Blocked Users --> 
			<div class="col-xs-12 col-md-4">
			</div>
		</div>
	</div>

	<button class="logout btn btn-default" ng-click="logOut()" type="submit" ui-sref="home">Logout</button>

	<!-- List/Search buttons --> 
	<button id="findMe" class="btn btn-default" ui-sref="newWalk">Find Me!
	</button>

</div> 
<div ng-show = "!userID">
	<p>You must login with a valid account</p>
</div>